<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    {% if page.title %}
      <title>{{ page.title }} - {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    {{ content}}
    <ul>
      {% for link in site.data.links %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
    <form id="contact-form" method="post" action="/api/contact">
      <fieldset style="display:none">
        <label for="name">Leave blank if you're human:</label>
        <input type="text" name="Name" id="name" placeholder="Leave blank if you're human" />
      </fieldset>
      <fieldset>
        <label for="email">Email address:</label>
        <input type="email" name="Sender" id="email" placeholder="Email address" required />
      </fieldset>
      <fieldset>
        <label for="message">Message:</label>
        <textarea name="Message" id="message" placeholder="Message" required></textarea>
      </fieldset>
      <button type="submit">Send</button>
      </form>
  </body>
</html>
